@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  /* height:100vh;
  width:100vw; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth !important; */
  /* overflow-y: scroll; */
}
html, body {
  /* overflow-y: auto; */
  /* scroll-behavior: smooth !important; */
}
html:focus-within {
  scroll-behavior: smooth;
}

@supports (-webkit-text-stroke: 0.53px #FFFFFFB2) {
  .testimonials{
    -webkit-text-stroke: 0.53px #FFFFFFB2;
    -webkit-text-fill-color: #00D3FF;
  }
}

@supports (-webkit-text-stroke: 0.53px #FFFFFF80) {
  .right-marquee{
    -webkit-text-stroke: 0.53px #ffffff80;
    -webkit-text-fill-color: transparent;
  }
}

.blockquote:before {
	position: absolute;
	color: #fff;
	font-size: 70px;
  width: 55px;
  height: 55px;
  font-family: sans-serif;
  content: '“';
  background: #000;
  border-radius: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-25%);
  bottom: -25px;
}

.m-scroll {
  display: flex;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* height: 200px; */
}
.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.m-scroll__title .marquee-one {
  display: flex;
  animation: scrollText 50s infinite linear;
  z-index: 10;
}
.m-scroll__title .marquee-two {
  display: flex;
  animation: scrollText-two 70s infinite linear;
}
.m-scroll__title h1 {
  margin: 0;
  padding: 0;
  }

@keyframes scrollText {
  from   { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

@keyframes scrollText-two {
  from   { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}

.m-scroll-image {
  display: flex;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.m-scroll__title-image {
  display: flex;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.m-scroll__title-image .marquee-image {
  display: flex;
  animation: scrollImage 120s infinite linear;
  z-index: 10;
}
@keyframes scrollImage {
  from   { transform: translateX(0%); }
  to { transform: translateX(-89%); }
}

.lock-scroll {
  overflow: hidden;
}
.expert{
  line-height: 1.3 !important;
}

.active-nav svg{
  fill: #00D3FF;
}

.abt{
  margin-top: -24px !important;
}

@media (min-width: 768px) {
  .abt{
    margin-top: 40px !important;
  }
}

.stubborn:hover svg{
  fill: #00D3FF;
}

.login_input {
  -webkit-background-clip: text !important;
  background-clip:  text !important;
  border: transparent !important;
  outline: transparent !important;
}
.login_input:focus{
  border: transparent !important;
  outline: transparent !important;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
.login_input:focus{
  border: transparent !important;
  outline: transparent !important;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
input, input:focus,input:hover, input:active{
  outline:none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    scroll-behavior: smooth;
  }
}