@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

/* *{
  padding: 0;
  margin: 0;
} */

@supports (-webkit-text-stroke: 1px black) {
  .testimonials{
    -webkit-text-stroke: 1px #FFFFFFB2;
    -webkit-text-fill-color: #00D3FF;
  }
}

.blockquote:before {
	position: absolute;
	color: #fff;
	font-size: 70px;
  width: 55px;
  height: 55px;
  font-family: sans-serif;
  content: '“';
  background: #000;
  border-radius: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-25%);
  bottom: -25px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;